@import url('https://fonts.googleapis.com/css?family=Roboto');


$accent-color: #FDA50F;
$background-color: #ffffff;
$text-color: #524e4e;

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}


//
//
@media screen and (max-width: 425px){
    h2{
        font-size: 1.5em;
    }
}
//
//
@media (min-width: 768px) { 
    .text-rechts{
        text-align: right;
    }
    .text-links{
        text-align: left;
    }
    h2{
        font-size: 2em;
    }
    .big-text{
        font-size: 1.5em;
    }
}

//
//
@media (max-width: 768px) {
    .lg-show{
        display: none;
    }
}

//
//
@media (min-width: 992px) { 

}

//
//basics
//

html {
    height: 100%;
    box-sizing: border-box;
  }
  
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: $background-color;
    color: $text-color;
    font-family: 'Roboto' , sans-serif;
}

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.body {
    margin: 0 auto;
    width: 100%;
  }

.fill{
    height: 60vh;
}

//
//text
//
h1{ 
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $accent-color;
}

p{
    font-size: 16px;
}

.intro-text{
    padding-left: 50px;
    padding-right: 60px; 
}

.big-text{
    margin-top: 10px;
    font-size: 1.2em;
}




//
//afbeeldingen
//
img{
    max-width: 100%;
    height: auto;
}
.icon{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
}


//
//navigation
//
.nav-page{
    float:right;
    margin: 20px;
    color: $text-color;
    font-size: 16px;
    
}

.nav-page:hover,
.nav-page:active{
    text-decoration: none;
    background-color: none;
    color: $accent-color;
    transition-duration: 0.2s;
}
.active{
    text-decoration: none;
    background-color: none;
    color: $accent-color;
}
.logo{
    color: $accent-color;
    font-size: 2em;
    padding: 15px;
    height: 100%;
    float: left;
}
.logo:hover{
    color: $text-color;
    font-size: 2em;
    padding: 15px;
    height: 100%;
    float: left;
}

.lijn{
    border-bottom: 2px solid $accent-color;
    margin-bottom: 30px;
}

//
//footer
//
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    float: left;
    background-color: $background-color;
    border-top: 2px solid $accent-color;
    margin-top: 20px;
    font-size: 13px;
  }



.socialmedia{
    width: 40px;
    height: auto;
    margin: 10px;
}


footer{
    color: $text-color;
  }
  footer a{
    color: $text-color;
  }
  footer a:hover{
    text-decoration: none;
    color: $accent-color;
  }

  
//
//forms
//
.form-control{
    border-radius: 0px;
}

.form-control:active{
    color: $accent-color;
}
.progress-bar{
    background-color: $accent-color;
}
.progress{
    margin: 40px 0; 
    height: 3pt;
}



//
//buttons
//
.button:hover{
    cursor: pointer;
}

.button{
    color: $accent-color;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.button-primary{
    background-color: $background-color;
    border-color: $accent-color;
    border: 3px solid;
    border-radius: 8px;
    margin-top: 20px;
}

.button-primary:hover,
.button-primary:active{
    text-decoration: none;
    color: $background-color;
    background-color: $accent-color;
    border-color: $accent-color;
    border: 3px solid $accent-color;
    border-radius: 8px;
    transition-duration: 0.2s;
}
.reserveer{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.2em;
}


.buttons{
    padding: 0px;
    margin:40px 0px 40px 0px;
}


//
//index
//
.jumbotron{
    height: 300px;
    text-align: center;
    background-color: $background-color;
}


.medium{
    height: 100%
}

//
//
//
select{
    height: 30px;
}

.contact{
    margin-bottom:50px;
}